@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
.container {
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
  padding-left: 12px;
  padding-right: 12px; }
  .container-full {
    max-width: 100%; }
  @media only screen and (max-width: 1024px) {
    .container {
      max-width: 100%;
      margin: 0 auto;
      position: relative;
      padding-left: 12px;
      padding-right: 12px; }
      .container-full {
        max-width: 100%; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px; }

[class*="tier-"] {
  padding-left: 12px;
  padding-right: 12px;
  width: 100%; }

@media only screen and (min-width: 0) {
  .tier-xs-1 {
    width: 8.33333%; }
  .tier-xs-2 {
    width: 16.66667%; }
  .tier-xs-3 {
    width: 25%; }
  .tier-xs-4 {
    width: 33.33333%; }
  .tier-xs-5 {
    width: 41.66667%; }
  .tier-xs-6 {
    width: 50%; }
  .tier-xs-7 {
    width: 58.33333%; }
  .tier-xs-8 {
    width: 66.66667%; }
  .tier-xs-9 {
    width: 75%; }
  .tier-xs-10 {
    width: 83.33333%; }
  .tier-xs-11 {
    width: 91.66667%; }
  .tier-xs-12 {
    width: 100%; } }

@media only screen and (min-width: 769px) {
  .tier-sm-1 {
    width: 8.33333%; }
  .tier-sm-2 {
    width: 16.66667%; }
  .tier-sm-3 {
    width: 25%; }
  .tier-sm-4 {
    width: 33.33333%; }
  .tier-sm-5 {
    width: 41.66667%; }
  .tier-sm-6 {
    width: 50%; }
  .tier-sm-7 {
    width: 58.33333%; }
  .tier-sm-8 {
    width: 66.66667%; }
  .tier-sm-9 {
    width: 75%; }
  .tier-sm-10 {
    width: 83.33333%; }
  .tier-sm-11 {
    width: 91.66667%; }
  .tier-sm-12 {
    width: 100%; } }

@media only screen and (min-width: 1024px) {
  .tier-md-1 {
    width: 8.33333%; }
  .tier-md-2 {
    width: 16.66667%; }
  .tier-md-3 {
    width: 25%; }
  .tier-md-4 {
    width: 33.33333%; }
  .tier-md-5 {
    width: 41.66667%; }
  .tier-md-6 {
    width: 50%; }
  .tier-md-7 {
    width: 58.33333%; }
  .tier-md-8 {
    width: 66.66667%; }
  .tier-md-9 {
    width: 75%; }
  .tier-md-10 {
    width: 83.33333%; }
  .tier-md-11 {
    width: 91.66667%; }
  .tier-md-12 {
    width: 100%; } }

@media only screen and (min-width: 1200px) {
  .tier-lg-1 {
    width: 8.33333%; }
  .tier-lg-2 {
    width: 16.66667%; }
  .tier-lg-3 {
    width: 25%; }
  .tier-lg-4 {
    width: 33.33333%; }
  .tier-lg-5 {
    width: 41.66667%; }
  .tier-lg-6 {
    width: 50%; }
  .tier-lg-7 {
    width: 58.33333%; }
  .tier-lg-8 {
    width: 66.66667%; }
  .tier-lg-9 {
    width: 75%; }
  .tier-lg-10 {
    width: 83.33333%; }
  .tier-lg-11 {
    width: 91.66667%; }
  .tier-lg-12 {
    width: 100%; } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #333;
  background-color: #ececec; }

.d-flex {
  display: flex;
  flex-wrap: wrap; }
  .d-flex.jc-flex-end {
    justify-content: flex-end; }
  .d-flex.jc-space-between {
    justify-content: space-between; }
  .d-flex.jc-space-around {
    justify-content: space-around; }
  .d-flex.jc-content-center {
    justify-content: center; }
  .d-flex.flex-wrap {
    flex-wrap: wrap; }
  .d-flex.flex-nowrap {
    flex-wrap: nowrap; }
  .d-flex.d-col {
    flex-direction: column; }
  .d-flex.d-col-flow {
    flex-flow: column; }
  .d-flex.d-row {
    flex-direction: row; }
  .d-flex.ai-center {
    align-items: center; }
  .d-flex.ai-flex-end {
    align-items: flex-end; }

.clearfix {
  clear: both; }

.hided {
  display: none; }
  @media only screen and (max-width: 769px) {
    .hided {
      display: block; } }

@media only screen and (max-width: 769px) {
  .hidem {
    display: none; } }

header {
  margin-bottom: 30px; }
  header .bg-grey {
    background-color: #424142;
    padding: 8px; }
  header .logo-wrap {
    width: 85px;
    height: 100%; }
    header .logo-wrap img {
      max-width: 100%; }
    @media only screen and (max-width: 769px) {
      header .logo-wrap {
        margin-bottom: 10px;
        width: 50px; } }
  header .search-bar-wrap .search-group-bar {
    display: flex;
    flex-wrap: nowrap;
    width: 100%; }
    header .search-bar-wrap .search-group-bar .group-search-dropdown {
      background-color: #fff;
      color: #424142;
      padding: 10px 12px;
      border-radius: 6px 0 0 6px;
      border-right: 1px solid #ccc;
      position: relative;
      width: 120px; }
      header .search-bar-wrap .search-group-bar .group-search-dropdown .left-text {
        display: flex;
        align-items: center; }
    header .search-bar-wrap .search-group-bar .input-control {
      border-radius: 0 6px 6px 0;
      outline: 0;
      padding: 10px 12px;
      background-color: #fff;
      border: none;
      font-size: 14px;
      line-height: 16px;
      padding-right: 120px;
      width: 100%;
      transition: width 0.25s ease-in-out; }
    header .search-bar-wrap .search-group-bar .search-icon-wrap {
      position: relative;
      display: flex;
      width: 100%; }
      header .search-bar-wrap .search-group-bar .search-icon-wrap span {
        position: absolute;
        right: 12px;
        top: 10px;
        font-size: 12px;
        color: #f37038;
        cursor: pointer; }
  header .navbar ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    flex-wrap: nowrap;
    overflow: auto; }
    header .navbar ul::-webkit-scrollbar {
      display: none; }
    header .navbar ul li {
      white-space: nowrap;
      color: #fff;
      margin-left: 20px;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.2s ease-in-out; }
      header .navbar ul li:first-child {
        margin-left: 0; }
      header .navbar ul li:hover, header .navbar ul li.active {
        color: #f37038; }
  header .profile-right-bar {
    width: 35px; }
    header .profile-right-bar img {
      width: 100%;
      border-radius: 50%; }
  header .social-bar ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0; }
    header .social-bar ul li {
      max-width: 24px;
      margin-left: 20px;
      cursor: pointer; }
      header .social-bar ul li img {
        width: 20px; }
  @media only screen and (max-width: 769px) {
    header .social-bar {
      display: none; } }

.card-wrapper {
  padding: 30px 20px 10px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #dcdcdc; }

.img-bg {
  background-color: #f37038;
  height: 80px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0; }

.head-wrap {
  margin: 10px 0;
  padding: 10px 0; }
  .head-wrap h2 {
    margin: 0 0 15px 0;
    color: #000;
    font-size: 28px;
    line-height: 32px;
    font-weight: 500; }
  .head-wrap h4 {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 5px 0; }

.image-wrap {
  max-width: 200px;
  position: relative;
  z-index: 5;
  margin: 0 auto; }
  .image-wrap img {
    width: 100px;
    border-radius: 50%;
    border: 1px solid #ccc;
    box-shadow: 0px 10px 15px #444; }

.profile-details .detail {
  margin-top: 10px; }
  .profile-details .detail:first-child {
    margin-top: 0; }
  .profile-details .detail .detail-text {
    font-size: 14px;
    color: #777;
    text-align: left; }
  .profile-details .detail .detail-num {
    font-size: 14px;
    color: #000; }

.branding-card {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  padding: 12px;
  margin-top: 20px;
  margin-bottom: 20px; }
  .branding-card .branding-img {
    flex: 0 0 40%; }
    .branding-card .branding-img img {
      width: 100%; }
  .branding-card .branding-text {
    flex: 0 0 50%;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700; }

.status-block-wrap {
  background-color: #fff;
  border: 1px solid #dcdcdc; }
  .status-block-wrap textarea {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 14px;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 20px;
    resize: none; }
  .status-block-wrap .status-action-bar {
    background-color: #f8f8f8;
    padding: 15px 12px; }
    .status-block-wrap .status-action-bar .status-left .update-status {
      margin-left: 12px;
      cursor: pointer; }
      .status-block-wrap .status-action-bar .status-left .update-status:first-child {
        margin-left: 0; }
      .status-block-wrap .status-action-bar .status-left .update-status img {
        width: 15px; }
      .status-block-wrap .status-action-bar .status-left .update-status span {
        padding-left: 6px;
        color: #aca1af;
        font-weight: 700;
        transition: all 0.2s ease-in-out; }
        .status-block-wrap .status-action-bar .status-left .update-status span:hover {
          color: #444; }
    .status-block-wrap .status-action-bar .status-right .share-btn {
      background-color: #414042;
      color: #fff;
      border: none;
      border-radius: 2px;
      padding: 4px 12px;
      font-weight: 700; }

.tabs-block-wrap {
  margin-top: 20px; }
  .tabs-block-wrap .tabs {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap; }
    .tabs-block-wrap .tabs input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0; }
    .tabs-block-wrap .tabs #referral:checked ~ label[for="referral"],
    .tabs-block-wrap .tabs #rotation:checked ~ label[for="rotation"] {
      background-color: #fff;
      border-radius: 6px 6px 0 0;
      color: #797979;
      border: 1px solid #dcdcdc;
      border-bottom: 2px solid #f37038; }
    .tabs-block-wrap .tabs #referral:checked ~ .referral,
    .tabs-block-wrap .tabs #rotation:checked ~ .rotation {
      display: block; }
    .tabs-block-wrap .tabs label {
      color: #f37038;
      padding: 10px 20px;
      cursor: pointer; }
    .tabs-block-wrap .tabs .content {
      flex-basis: 100%;
      display: none;
      padding: 12px;
      background-color: #fff;
      border: 1px solid #dcdcdc;
      min-height: 100px; }

.referral-box-wrap {
  margin-top: 20px; }
  .referral-box-wrap .referral-box {
    border: 1px solid #ccc;
    padding: 16px 12px;
    border-radius: 4px;
    margin-top: 8px; }
    .referral-box-wrap .referral-box:first-child {
      margin-top: 0; }
    .referral-box-wrap .referral-box .job-id {
      font-size: 18px;
      line-height: 22px;
      font-weight: 700;
      letter-spacing: 0.4px; }
      .referral-box-wrap .referral-box .job-id span {
        font-size: 12px;
        color: #777;
        font-weight: 400;
        display: block;
        letter-spacing: 0;
        margin-top: 8px; }
    .referral-box-wrap .referral-box .apply-btn-wrap .apply-btn {
      background-color: #f37038;
      color: #fff;
      border: none;
      border-radius: 2px;
      padding: 6px 12px;
      font-size: 15px; }
    .referral-box-wrap .referral-box .apply-btn-wrap span {
      font-weight: 700;
      display: block;
      font-size: 16px;
      margin-top: 8px; }
  .referral-box-wrap .show-more {
    color: #f37038;
    margin-top: 20px;
    text-align: center;
    cursor: pointer; }

.comments-block-wrap {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #dcdcdc; }
  .comments-block-wrap .commented-wrap {
    padding: 12px;
    border-top: 1px solid #dcdcdc; }
    .comments-block-wrap .commented-wrap:first-child {
      border-top: 0; }
    .comments-block-wrap .commented-wrap .commented-image-wrap {
      max-width: 50px;
      border-radius: 50%;
      position: relative; }
      .comments-block-wrap .commented-wrap .commented-image-wrap .user-profile {
        border: 1px solid #ccc;
        width: 100%;
        border-radius: 50%; }
      .comments-block-wrap .commented-wrap .commented-image-wrap .icon {
        width: 15px;
        position: absolute;
        top: 0;
        right: 0px; }
        .comments-block-wrap .commented-wrap .commented-image-wrap .icon img {
          width: 100%; }
    .comments-block-wrap .commented-wrap .commented-text {
      margin-left: 12px;
      width: calc(100% - 70px); }
      .comments-block-wrap .commented-wrap .commented-text .comment-by {
        color: #f37038;
        text-transform: capitalize;
        margin-bottom: 4px; }
    .comments-block-wrap .commented-wrap.comment-view {
      background-color: #f3f3f3; }
      .comments-block-wrap .commented-wrap.comment-view .commented-image-wrap {
        max-width: 40px; }
        .comments-block-wrap .commented-wrap.comment-view .commented-image-wrap .user-profile {
          width: 100%; }
      .comments-block-wrap .commented-wrap.comment-view .comment-box {
        margin-left: 20px;
        width: calc(100% - 60px); }
        .comments-block-wrap .commented-wrap.comment-view .comment-box input {
          color: #0C0F12;
          padding: 10px 16px;
          width: 100%;
          outline: 0;
          border-radius: 4px;
          border: 1px solid #d8d8d8;
          position: relative;
          z-index: 1;
          font-size: 14px; }

.birthday-card-wrap {
  background-color: #fff;
  border: 1px solid #dcdcdc; }
  .birthday-card-wrap .card-heading {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    font-weight: 700; }
  .birthday-card-wrap .card-body {
    padding: 12px; }
    .birthday-card-wrap .card-body .colllegues-profile-wrap {
      margin-top: 12px;
      overflow: auto; }
      .birthday-card-wrap .card-body .colllegues-profile-wrap::-webkit-scrollbar {
        display: none; }
      .birthday-card-wrap .card-body .colllegues-profile-wrap .profile-wrap {
        position: relative;
        max-width: 50px;
        margin-left: 8px; }
        .birthday-card-wrap .card-body .colllegues-profile-wrap .profile-wrap:first-child {
          margin-left: 0; }
        .birthday-card-wrap .card-body .colllegues-profile-wrap .profile-wrap .user-profile {
          width: 50px;
          border-radius: 50%; }
        .birthday-card-wrap .card-body .colllegues-profile-wrap .profile-wrap .icon {
          position: absolute;
          top: 0;
          right: 0;
          width: 20px; }
  .birthday-card-wrap .card-footer {
    padding: 12px;
    border-top: 1px solid #ccc;
    color: #f37038;
    text-align: center;
    cursor: pointer; }

.recent-photos-card-wrap {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  margin-top: 20px;
  margin-bottom: 20px; }
  .recent-photos-card-wrap .card-heading {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    font-weight: 700; }
  .recent-photos-card-wrap .card-body {
    padding: 12px; }
    .recent-photos-card-wrap .card-body .search-bar {
      width: 100%;
      margin-bottom: 8px; }
      .recent-photos-card-wrap .card-body .search-bar input {
        width: 100%;
        padding: 4px; }
    .recent-photos-card-wrap .card-body .picture-grid .picture {
      line-height: 0;
      border: 1px solid #ececec;
      width: 25%;
      float: left; }
      .recent-photos-card-wrap .card-body .picture-grid .picture img {
        width: 100%;
        line-height: 0; }
      .recent-photos-card-wrap .card-body .picture-grid .picture.active {
        width: 50%; }
    .recent-photos-card-wrap .card-body .pagination {
      margin-top: 10px; }
      .recent-photos-card-wrap .card-body .pagination ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center; }
        .recent-photos-card-wrap .card-body .pagination ul li {
          border: 1px solid #ccc;
          border-left: 0;
          padding: 4px 0;
          min-width: 30px;
          text-align: center;
          font-size: 11px;
          color: #f37038;
          position: relative;
          cursor: pointer; }
          .recent-photos-card-wrap .card-body .pagination ul li:hover, .recent-photos-card-wrap .card-body .pagination ul li.active {
            color: #777; }
          .recent-photos-card-wrap .card-body .pagination ul li:first-child {
            border-left: 1px solid #ccc; }

.chevron {
  display: block;
  width: 8px;
  height: 8px;
  border-left: 1px solid #f37038;
  border-bottom: 1px solid #f37038;
  position: absolute;
  top: 9px;
  cursor: pointer; }
  .chevron.left {
    transform: rotate(45deg);
    left: 12px; }
  .chevron.right {
    transform: rotate(-135deg);
    left: 10px; }
  .chevron.search {
    transform: rotate(-45deg);
    right: 10px;
    top: 13px;
    border-color: #777; }
