$grid-columns: 12;
$row: 1180px;
$gutter: 12px;

@mixin container($width) {
  max-width: $width;
  margin: 0 auto;
  position: relative;
  padding-left: $gutter;
  padding-right: $gutter;
  &-full {
    max-width: 100%;
  }
}
.container {
  @include container(1180px);
  @media only screen and (max-width:1024px) {
    @include container(100%);
  }
}

// Grid common Column division
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter;
  margin-right: -$gutter;
}
[class*="tier-"] {
  padding-left: $gutter;
  padding-right: $gutter;
  width: 100%;
}
// Grid For mobile
@media only screen and (min-width:0) {
  @for $i from 1 through $grid-columns {
    .tier-xs-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}
// Grid For ipad and desktop
@media only screen and (min-width:769px) {
  @for $i from 1 through $grid-columns {
    .tier-sm-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}
// Grid For laptop and desktop
@media only screen and (min-width:1024px) {
  @for $i from 1 through $grid-columns {
    .tier-md-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}
// Grid For desktop and large desktop
@media only screen and (min-width:1200px) {
  @for $i from 1 through $grid-columns {
    .tier-lg-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}