header{
	margin-bottom: 30px;
	.bg-grey{
		background-color: #424142;
			padding: 8px;
	}
	.logo-wrap{
		width: 85px;
		height: 100%;
		img{
			max-width: 100%;
		}
		@media only screen and (max-width:769px){
			margin-bottom: 10px;
			width: 50px;
		}
	}
	.search-bar-wrap{
    .search-group-bar{
      display: flex;
			flex-wrap: nowrap;
			width: 100%;
      .group-search-dropdown{
				background-color: #fff;
				color: #424142;
				padding: 10px 12px;
				border-radius: 6px 0 0 6px;
				border-right: 1px solid #ccc;
				position: relative;
				width: 120px;
        .left-text{
          display: flex;
          align-items: center;
        }
      }
      .input-control{
        border-radius: 0 6px 6px 0;
        outline: 0;
        padding: 10px 12px;
        background-color: #fff;
        border:none;
        font-size: 14px;
        line-height: 16px;
				padding-right: 120px;
				width: 100%;
        transition: width 0.25s ease-in-out;
      }
      .search-icon-wrap{
        position: relative;
				display: flex;
				width: 100%;
        span{
          position: absolute;
					right: 12px;
					top: 10px;
					font-size: 12px;
					color: #f37038;
					cursor: pointer;
        }
      }
    }
	}
	.navbar{
		ul{
			list-style-type: none;
			padding: 0;
			margin-bottom: 0;
			flex-wrap: nowrap;
			overflow: auto;
			&::-webkit-scrollbar{
				display: none;
			}
			li{
				white-space: nowrap;
				color: #fff;
				margin-left: 20px;
				font-weight: 700;
				cursor: pointer;
				transition: all 0.2s ease-in-out;
				&:first-child{
					margin-left: 0;
				}
				&:hover, &.active{
					color: #f37038;
				}
			}
		}
	}
	.profile-right-bar{
		width: 35px;
		img{
			width: 100%;
			border-radius: 50%;
		}
	}
	.social-bar{
		ul{
			list-style-type: none;
			padding: 0;
			margin-bottom: 0;
			li{
				max-width: 24px;
				margin-left: 20px;
				cursor: pointer;
				img{
					width: 20px;
				}
			}
		}
		@media only screen and (max-width:769px){
			display: none;
		}
	}
}