// Profile Card
.card-wrapper {
  padding: 30px 20px 10px;
  margin: 0 auto;
  position: relative;
  overflow:hidden;
  text-align:center;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid #dcdcdc;
}
.img-bg {
  background-color: #f37038;
  height: 80px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.head-wrap {
  margin: 10px 0;
  padding: 10px 0;
  h2{
    margin: 0 0 15px 0;
    color:#000;
		font-size: 28px;
		line-height: 32px;
    font-weight:500;
  }
  h4{
    color:#000;
    font-size: 14px;
    font-weight:500;
    margin: 0 0 5px 0;
  }
}
.image-wrap {
  max-width: 200px;
  position: relative;
  z-index: 5;
  margin: 0 auto;
  img {
    width: 100px;
    border-radius: 50%;
    border: 1px solid #ccc;
    box-shadow: 0px 10px 15px #444;
  }
}
.profile-details{
	.detail{
		margin-top: 10px;
		&:first-child{
			margin-top: 0;
		}
		.detail-text{
			font-size: 14px;
			color: #777;
			text-align: left;
		}
		.detail-num{
			font-size: 14px;
			color: #000;
		}
	}
}
// Profile Card
// Branding Card
.branding-card{
	background-color: #fff;
	border: 1px solid #dcdcdc;
	padding: 12px;
	margin-top: 20px;
	margin-bottom: 20px;
	.branding-img{
		flex: 0 0 40%;
		img{
			width: 100%;
		}
	}
	.branding-text{
		flex: 0 0 50%;
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
	}
}
// Branding Card
// Status block
.status-block-wrap{
	background-color: #fff;
	border: 1px solid #dcdcdc;
	textarea{
		background-color: transparent;
		border: none;
		width: 100%;
		padding:14px;
		outline: none;
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		line-height: 20px;
		resize: none;
	} 
	.status-action-bar{
		background-color: #f8f8f8;
		padding: 15px 12px;
		.status-left{
			.update-status{
				margin-left: 12px;
				cursor: pointer;
				&:first-child{
					margin-left: 0;
				}
				img{
					width: 15px;
				}
				span{
					padding-left: 6px;
					color: #aca1af;
					font-weight: 700;
					transition: all 0.2s ease-in-out;
					&:hover{
						color: #444;
					}
				}
			}
		}
		.status-right{
			.share-btn{
				background-color: #414042;
				color: #fff;
				border: none;
				border-radius: 2px;
				padding: 4px 12px;
				font-weight: 700;
			}
		}
	}
}
// Status block

// tabs section
// tabs design
.tabs-block-wrap{
	margin-top: 20px;
	.tabs{
		margin: 0 auto;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		input {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
		}
		#referral:checked ~ label[for="referral"],
		#rotation:checked ~ label[for="rotation"] {
			background-color: #fff;
			border-radius: 6px 6px 0 0;
			color: #797979;
			border: 1px solid #dcdcdc;
			border-bottom: 2px solid #f37038;
		}
		#referral:checked ~ .referral,
		#rotation:checked ~ .rotation {
			display: block;
		}
		label {
			color: #f37038;
			padding: 10px 20px;
			cursor: pointer;
		}
		.content {
			flex-basis: 100%;
			display: none;
			padding: 12px;
			background-color: #fff;
			border: 1px solid #dcdcdc;
			min-height: 100px;
		}
	}
}
// tabs design
// referral tab
.referral-box-wrap{
	margin-top: 20px;
	.referral-box{
		border: 1px solid #ccc;
		padding: 16px 12px;
		border-radius: 4px;
		margin-top: 8px;
		&:first-child{
			margin-top: 0;
		}
		.job-id{
			font-size: 18px;
			line-height: 22px;
			font-weight: 700;
			letter-spacing: 0.4px;
			span{
				font-size: 12px;
				color: #777;
				font-weight: 400;
				display: block;
				letter-spacing: 0;
				margin-top: 8px;
			}
		}
		.apply-btn-wrap{
			.apply-btn{
				background-color: #f37038;
				color: #fff;
				border: none;
				border-radius: 2px;
				padding: 6px 12px;
				font-size: 15px;
			}
			span{
				font-weight: 700;
				display: block;
				font-size: 16px;
				margin-top: 8px;
			}
		}
	}
	.show-more{
		color: #f37038;
		margin-top: 20px;
		text-align: center;
		cursor: pointer;
	}
}
// referral tab
// comment card
.comments-block-wrap{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	.commented-wrap{
		padding: 12px;
		border-top: 1px solid #dcdcdc;
		&:first-child{
			border-top: 0;
		}
		.commented-image-wrap{
			max-width: 50px;
			border-radius: 50%;
			position: relative;
			.user-profile{
				border: 1px solid #ccc;
				width: 100%;
				border-radius: 50%;
			}
			.icon{
				width: 15px;
				position: absolute;
				top: 0;
				right: 0px;
				img{
					width: 100%;
				}
			}
		}
		.commented-text{
			margin-left: 12px;
			width: calc(100% - 70px);
			.comment-by{
				color: #f37038;
				text-transform: capitalize;
				margin-bottom: 4px;
			}
		}
		&.comment-view{
			background-color: #f3f3f3;
			.commented-image-wrap{
				max-width: 40px;
				.user-profile{
					width: 100%;
				}
			}
			.comment-box{
				margin-left: 20px;
				width: calc(100% - 60px);
				input{
					color: #0C0F12;
					padding: 10px 16px;
					width: 100%;
					outline: 0;
					border-radius: 4px;
					border: 1px solid #d8d8d8;
					position: relative;
					z-index: 1;
					font-size: 14px;
				}
			}
		}
	}
}
// comment card
// tabs section

// birthday card
.birthday-card-wrap{
	background-color: #fff;
	border: 1px solid #dcdcdc;
	.card-heading{
		padding:12px;
		border-bottom: 1px solid #ccc;
		font-weight: 700;
	}
	.card-body{
		padding: 12px;
		.colllegues-profile-wrap{
			margin-top: 12px;
			overflow: auto;
			&::-webkit-scrollbar{
				display: none;
			}
			.profile-wrap{
				position: relative;
				max-width: 50px;
				margin-left: 8px;
				&:first-child{
					margin-left: 0;
				}
				.user-profile{
					width: 50px;
					border-radius: 50%;
				}
				.icon{
					position: absolute;
					top:0;
					right: 0;
					width: 20px;
				}
			}
		}
	}
	.card-footer{
		padding:12px;
		border-top: 1px solid #ccc;
		color: #f37038;
		text-align: center;
		cursor: pointer;
	}
}
// birthday card

// recent photos card
.recent-photos-card-wrap{
	background-color: #fff;
	border: 1px solid #dcdcdc;
	margin-top: 20px;
	margin-bottom: 20px;
	.card-heading{
		padding:12px;
		border-bottom: 1px solid #ccc;
		font-weight: 700;
	}
	.card-body{
		padding: 12px;
		.search-bar{
			width: 100%;
			margin-bottom: 8px;
			input{
				width: 100%;
				padding: 4px;
			}
		}
		.picture-grid{
			.picture{
				line-height: 0;
				border: 1px solid #ececec;
				width: 25%;
				float: left;
				img{
					width: 100%;
					line-height: 0;
				}
				&.active{
					width: 50%;
				}
			}
		}
		.pagination{
			margin-top: 10px;
			ul{
				list-style-type: none;
				padding: 0;
				display: flex;
				justify-content: center;
				li{
					border: 1px solid #ccc;
					border-left: 0;
					padding: 4px 0;
					min-width: 30px;
					text-align: center;
					font-size: 11px;
					color: #f37038;
					position: relative;
					cursor: pointer;
					&:hover, &.active{
						color: #777;
					}
					&:first-child{
						border-left: 1px solid #ccc;
					}
				}
			}
		}
	}
}
// recent photos card

// chevron icon card
.chevron{
	display: block;
	width: 8px;
	height: 8px;
	border-left: 1px solid #f37038;
	border-bottom: 1px solid #f37038;
	position: absolute;
	top: 9px;
	cursor: pointer;
	&.left{
		transform: rotate(45deg);
		left: 12px;
	}
	&.right{
		transform: rotate(-135deg);
		left: 10px;
	}
	&.search{
		transform: rotate(-45deg);
		right: 10px;
		top: 13px;
		border-color: #777;
	}
}
// chevron icon card