@import './grid';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #333;
  background-color: #ececec;
}

.d-flex{
	display:flex;
	flex-wrap: wrap;
	&.jc-flex-end{ justify-content: flex-end; }
	&.jc-space-between{ justify-content: space-between; }
	&.jc-space-around{ justify-content: space-around; }
	&.jc-content-center{ justify-content: center; }
	&.flex-wrap{ flex-wrap: wrap; }
	&.flex-nowrap{ flex-wrap: nowrap; }
	&.d-col{ flex-direction: column; }
	&.d-col-flow{ flex-flow: column; }
	&.d-row{ flex-direction: row; }
	&.ai-center{ align-items: center; }
	&.ai-flex-end{ align-items: flex-end; }
} 

.clearfix{
	clear: both;
}

.hided{
	display: none;
	@media only screen and (max-width:769px){
		display: block;
	}
}
.hidem{
	@media only screen and (max-width:769px){
		display: none;
	}
}

@import './header';
@import './main';